<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>1.1 Hello world.</title>

</head>
<body>


<p><b>Unit 1.1: Hello World</b></p>
<p> What is Python? Python is a programming language
that is used for a variety of purposes such as automation of
tasks, data analyzation, and website creation. Python is know
for its simplicity (writing code in Python is often like writing
in plain english) and is often the recommended first language for
beginners. You will most likely find many of Python's features to be
intuitive and straightforward to implement.<br/>
<br/>

Here is a simple program.<br/>

print("Hello World!")<br/>
<br/>

Python code like this can be created in an IDE or a code editor.
For this course the PyCharm IDE will be used.<br/>
<br/>

In the program above there are two components, the print() function
and the text within it. By putting this code into a text editor and
running it, the following code will be outputted to the console.<br/>
<br/>

Hello World!<br/>
<br/>

Now that you understand the basics of the “Hello World!" program,
    we will go over how to properly set up Python programs.</p>

</body>
</html>