<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>1.2 Python syntax and formatting Conventions
A Python file being formatted improperly or having inappropriately named components will cause it to not function.
<br/>

<br/>

The most common errors you will face as you program will be syntax errors. Even if your logic is sound, if you spell something incorrectly your program will not function. Computers are good at following instructions but mistakes as minor as writing rint(“Hello”) instead of print(“Hello”) will trip up the computer.
<br/>

<br/>

Indentation indicates a line/block of code is related to the non-indented code directly above it. The following code will not work due to the unnecessary indent
<br/>

<br/>

print(“Hi.”)
	<br/>
         print(“My name is John.”)
<br/>

<br/>

Starting in unit 3 cases where indentation is required will appear.
<br/>

<br/>

Ensure you include the correct spelling, spacing, indents, and within your code.

<p/>
</body>
</html>