<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><b>Unit 1.3: Variables</b>


<br/><br/>Variables are values or characters that are stored within a phrase.<br/>


Some examples are shown below.<br/>
<br/>A = 28
<br/>My_name = “John”
<br/>Number1 = 1
<br/>_car_ = “F-150”<br/>


<br/>By using variables we can label information using names
    that allow code to be clear.<br/>




<br/>Below is the code for a program.<br/>
<br/>import random<br/>


<br/>num1 = random.choice([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
<br/>animal = random.choice(["Cow", "Pig", "Sheep", "Dog", "Whale"])

<br/><br/>YourRandomPassword = str(animal) + str(num1)
<br/>print(YourRandomPassword)<br/>


<br/>Even if you don’t understand some parts such as random.choice and
    str(), you can reasonably figure out that this is the code for a
    random password generator. As you progress through this course you
    will find out that it is not hard to get lost when overlooking code
    you are currently working on. By having appropriately named variables
    you will reduce the time you spend rereading your code to regain
    understanding of it.<br/>


<br/>Below is the same code but with non-descriptive names.<br/>
<br/>import random<br/>

dwq = random.choice([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])<br/>

ejd = random.choice(["Cow", "Pig", "Sheep", "Dog", "Whale"])<br/>

<br/>qua = str(ejd) + str(dwq)
<br/>
print(qua)<br/>


<br/>As you can see, this code is much harder to understand compared to its descriptive version.<br/>

<br/>There are some rules tied with variable naming.<br/>
Variables must start with a letter or underscore.<br/>
Variables can only contain the letters/symbols A-Z, 0-9, and _.<br/>
Variables with different capitalization are different, even if the
    spelling is the same.<br/>
When making a variable that holds a word, use " ".<br/>


<br/>Below are some examples of incorrect variable names<br/><br/>
--hi = "hi"<br/>
333number = 21<br/>
%&$*() = "Word"<br/>
my age = 17<br/>




<br/>Making your variables descriptive is vital to creating readable code that is easily decipherable.</p>

</body>
</html>

