<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Python Code and Output</title>
</head>
<body>
    <h1>Code Output in Python</h1>

    <h2>Printing with the print() function</h2>
    <pre>
        As 1.1 showed, code you write can be displayed on the console by utilizing print() functions.

        If you want to print a number or the contents of a variable you simply place the number/variable inside the parentheses as shown below.

        Name = Jesse
        print(Name)
        print(16)

        Jesse
        16

        When printing a statement you surround your text with quotation marks.

        print(“Hello, it’s nice to meet you.”)

        Hello, it’s nice to meet you.
    </pre>

    <h2>Interactive Input with input() function</h2>
    <pre>
        Oftentimes you will be required to make your programs interactive.
        This will be done by utilizing the input() function. A variable will be assigned
        the text that the user inputs.

        Age = input(“Input your age: ”)
        print(“You are” + Age)

        Input your age: 17
        You are 17
    </pre>

    <h2>Working with Numeric Input</h2>
    <pre>
        Inputs are automatically seen as words/text. In order to have an input that’s a number be seen as one by the computer, which would allow the variable the input is assigned to partake in math equations, the int() function must be used. And when you want to print a number and words/letters in the same line ensure the number is within a str() function, which turns the number into a string while it is within the print statement.

        Age = int(input(“Input your age: ”))
        Age_plus_ten = Age + 10
        print(“You will be ” + str(Age_plus_ten) + ” in 10 years.”)

        Input your age: 17
    </pre>
</body>
</html>
